/*CSS PARA ACTUALIZAR*/

.inputActualizar{
    margin-top: 0.5%;
    padding-right: 3%;
}
.div_principal_actualizar{
    margin-top: 10%;
    background-color: rgb(169, 169, 169, 0.5);
    width: 30%;
    height: 30%;
    margin-left:37% ;
    margin-right: 45%;
}