.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.contenedor{
  background-image: url('./Img/Pipita644px.PNG');
  background-color: rgba(255, 255, 255, 0.808);
  background-blend-mode: color;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
